body {
	background: #FFFFFF;
	color: black;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

a .clickable {
	color: white;
}

a .clickable:hover {
	color: yellow;
}

h1,
h2 {
	font-weight:bold;
}

.img-circle {
    border-radius: 50%;
	width: 25%;
    height: 25%;
	margin-bottom: 20px
}

.title {
    font-family: 'Lato';
    font-weight: bold;
}

.blanket {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    color: #FFF;
}

#main > .blanket {
    padding-bottom: 50px;
	padding-top: 50px;
}

#main {
    background: url(../images/bg.jpg);
    background-position: center 40%;
    background-size: cover;
    background-attachment: fixed;
}

.front-page {
	text-align: center;
}

.front-page p {
	margin-bottom: 40px;
}

.copyright {
	text-align: center;
}
